:root {
    --primary-color: #1D3557;
    --secondary-color: #457B9D;
    --accent1-color: #E5E5E5;
    --accent2-color: #FF6F61;  
}

header {
    margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid var(--primary-color);
	max-width: 1000px;
}

header nav {
    display: flex;
    grid-column: 3/4;
    justify-content: space-around;
    padding: 5px;
    border: 3px solid var(--primary-color);
}

header nav a {
    color: #093A3E;
}

.hero {
    display: grid;
    grid-template: 2fr 1fr 0.5fr / 5% 90% 5%;
    margin: 2rem auto;
    max-width: 1000px;
    border: 1px solid var(--primary-color);
    background-color: var(--accent1-color);
}

.hero h1 {
    grid-area: 1/2/2/3;
    display: flex;
    justify-content: center;
    z-index: 1;
    color: var(--primary-color);
}

.hero h2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.hero .hero-image {
    grid-area: 1/2/2/3;
    margin-top: 100px;
}

.hero .hero-image img {
    width: 100%;
    border: 5px var(--primary-color);
}

.hero article {
    grid-area: 1/2/2/3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    margin: 350px 50px 300px 50px;
    padding: 20px;
    border: 2px solid var(--primary-color);
    background-color: var(--accent2-color);
}

#article-p {
    order: 1;
}

#article-img {
    order: 2
}

.hero article img {
    width: 150px;
}

.hero .section-1 {
    grid-area: 2/2/3/3;
    border: 3px solid var(--primary-color);
}

.hero .section-1 .section-1-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

#history-p1 {
    order: 1;
}

#history-img {
    order: 2;
    width: 300px;
    height: 200px;
    padding: 20px;
}

#history-p2 {
    order: 3;
}

.hero .section-2 {
    grid-area: 3/2/4/3;
}

.hero .section-2 figure img {
    max-width: 100px;
}

.hero .section-2 .figure {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem auto;
    max-width: 1000px;
    font-family: Roboto;
}

h1, h2 {
    font-family: "Montserrat", sans-serif;
    color: var(--primary-color);
}

p {
    font-family: "Roboto", sans-serif;
    color: var(--primary-color);
}

.sociallinks a {
    text-decoration: none;
}

footer {
    margin: 1rem auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	max-width: 1000px;
    border-top: 1px solid var(--primary-color);
}

footer nav {
    display: flex;
    grid-column: 3/4;
    justify-content: center;
}

footer nav img {
    width: 30px;
    padding: 10px;
}