:root{
    color-scheme: light;
}

body { 
    max-width: 1000px;
    margin: 0 auto;
}

header{
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 2fr 50px;
    align-items: center;
    border:1px solid black;
    background-color: #A8DADC;
}

header img{
    margin-left:100px;
    max-width: 150px;
    height:auto;
}

.navigation{
    display: flex;
    list-style: none;
    text-align: center;
}

.navigation li{
    flex: 1 1 100%;
}

.navigation a{
    display: block;
    padding: 10px;
    color: #E63946;
    font-family: "Averia Libre", serif;
    font-weight: 700;
    font-style: normal;
    border: 1px solid black;
    background-color: #457B9D;
    text-decoration: none;
}

.navigation a:hover{
    color: tomato;
    font-weight: 700;
    text-decoration: underline;
}

h1 {
    color: #1D3557;
    font-family: "Averia Libre", serif;
    font-weight: 700;
    font-style: normal;

    position: absolute;
    width: 100%;
    top: 20px;
    background-color: #A8DADC;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    opacity: 0.8;
}

h2 {
    color: #1D3557;
    font-family: "Averia Libre", serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    color: #124559;
    font-family: "Averia Libre", serif;
    font-weight: 400;
    font-style: normal;
}

p{  
    color:black;
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.hero {
    position: relative;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}

.client {
    position: absolute;
    top: 50%;
    left: 7%;
    width: 80%;
    height:auto;
    background-color: #AEC3B0;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    opacity: 0.85;
    font-size: larger;
}

.client img {
    max-width: 200px;
    height: auto;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

.history{
    margin: 1rem 0 1rem 0;
    border: 1px solid black;
    padding: 3rem;
    display:grid;
    justify-items: center;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 3fr;
}

.history p{
    margin-left:1rem;
    text-align: left;
}
.columns3{
    grid-column: 1/4;
}
.history img{
    padding: 1rem;
    border:1px solid gray;
    width: 200px;
    height:auto;
}

.section2{
    margin: 1rem 0 1rem 0;
    border: 1px solid black;
    text-align: center;
}

.adventure{
    display:flex;
}

.adventure img{
    width: 100px;
    height: 80px;
    border: 1px solid black; 
    flex: 1 1 auto;
    flex-wrap: wrap;

}

footer{
    margin: 1rem 0 1rem 0;
    border: 1px solid black;
    background-color: #A8DADC;
}
footer img{
    max-width:40px;
    height: auto;
    margin-left:5px;
    margin-right:5px;
    text-decoration: none;
}
.icons{
    margin-right: 1.5rem;
    display:flex;
    justify-content: right;
    align-items: center;
}
.icons p{
    margin-right:10%;
}

/*contact info CSS*/
.info{
    position: relative;
    padding-top:8rem;
    display: flex;
    background-color: #EFF6E0;
    border:1px solid black;
    justify-content:center;
}

.map iframe{
    width:300px;
    height:auto;
    padding:1rem;
    border:1px solid gray;
    margin: 1.5em 1.5em;
    background-color: #eee;
    border-radius: 0.5em;
}
/*employees part CSS*/
.employees{
    display:flex;
    justify-content: center;
    background-color: #EFF6E0;
    margin: 1rem 10%;
    border: 1px gray;
    border-radius: 0.5em;
}
.employees img{
    width:150px;
    height:100px;
}

/* form CSS*/
.requirement{    
    margin: 1rem 0 1rem 0;
    border: 1px solid black;
    background-color: #124559;
}

form{
    width:500px;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 0.5em;
    background-color: #eee;
    display: grid;
}

.form-item{
    display:grid;
    align-items: center;
}

.column2{
    grid-template-columns: 1fr 2fr;
}

legend{
    padding:0.5rem;
    color: navy;
    font-size: 1.3em;
}

fieldset{
    display:grid;
    grid-gap:0.5em;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
}

label, input, button, select, textarea{
    font-family: Arial, Helvetica, sans-serif;
}

label{
    text-align: left;
    padding-right: 0.5rem;
}

input, select, textarea{
    padding: 0.5rem;
    font-size: 1em;
}

input[type="checkbox"]{
    width:20px;
    height: 20px;
    vertical-align: bottom;
}

button{
    width:200px;
    margin:1rem auto;
    padding:1rem;
    background-color: navy;
    color: white;
}
button:hover{
    background-color: darkgreen;
}

.contactlink{
    margin-right: 1rem;
}
/* Homepage CSS */
.findtrip{
    display:block;
    position: absolute;
    top: 60%;
    left:40%;
    width: 200px;
    background-color: #A8DADC;
    border:3px solid gray;
    border-radius: 1em;
    text-align: center;
}

.findtrip a{
    text-decoration: none;
}

.findtrip:hover{
    background-color: rgb(205, 153, 50);
    text-decoration: underline;
}

.attract{
    margin:0;
    padding: 3rem;
    display:grid;
    justify-items: center;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    background-color: #A8DADC;
}

.attract figcaption{
    text-align: center;
}

.col-2{
    grid-column: 1/3;
}

.attract p{
    margin: 0 1rem;
    text-align: left;
}
.attract img{
    padding: 1rem;
    border:5px solid white;
    width: 350px;
    height: 200px;
}

.section3{
    position: relative;
}

.riverview{
    position: absolute;
    top:20%;
    left: 10%;
    width: 40%;
    font-size:x-large;
    text-shadow: 1px 1px white;
}
.subscribe{
    position: absolute;
    top:1px;
    left: 55%;
    width: 40%;
    height:auto;
    border-radius: 1em;
    opacity: 0.85;
}

.subscribe form{
    max-width: 400px;
    height: auto;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: left;
}
.section3 img{
    display:block;
    width:100%;
    height:400px;
}

/*Trips table CSS */
.trips{
    margin-top: 2rem;
}
.trips table {
    border-collapse: collapse;
    border: 2px solid black;
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}
.trips img{
    width: 200px;
    height: 160px;
}
.trips thead{
    background-color: rgb(228 240 245);
  }

.trips th{
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
    text-align: center;
  }
.trips td{
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
    text-align: left;
  }

.price{
    display:flex;
}

.contact{
    width:200px;
    display: block;
    padding:20px;
    background-color: rgb(230, 233, 223);
    border-radius: .5em;
}
.contact a{
    display: block;
    padding: 10px;
    font-family: "Averia Libre", serif;
    font-weight: 700;
    font-style: normal;
    border: 5px solid rgb(179, 179, 179);
    border-radius: 1em;
    background-color: rgb(228 240 245);
    text-decoration: none;
    text-align: center;
}
.contact a:hover{
    background-color: rgb(225, 151, 138);
    text-decoration: underline;
}
.price table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    margin:1rem auto;
    align-items: center;
  }
  
.price caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
  }
  
.price thead{
    background-color: rgb(228 240 245);
  }
  
.price th,td{
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
    text-align: center;
  }
  