:root {
    --heading-background-color: royalblue;
    --padding: 0.25rem;
    --heading-font: Courier, Arial, sans-serif;
}

nav {
    background-color: var(--heading-background-color);
    padding: var(--padding);
    height: auto;
}
nav a {
    color: white;
    display: block;
    padding: var(--padding);
    font-family: var(--heading-font);
}
h1 {
    color: darkblue;
    font-family: var(--heading-font);
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: var(--padding);
    box-shadow: 0 0 30px gray;
}
p {
    padding: var(--padding);
    font-family: var(--heading-font);
}
main {
    max-width: 840px;
}
aside {
    width: 800px;
    margin: 5px;
    border: 5px;
    padding: var(--padding);
    background-color: #5c0000;
    color: #ffffff;
    text-align: left;
    font-family: var(--heading-font);
}
aside img {
    width: 200px;
    height: auto;
}
footer {
    margin-top: 10px;
    border-top: 1px solid #000;
    text-align: right;
    font-family: var(--heading-font);
}